# MongoDB
MONGODB_PORT=27017
MONGO_INITDB_ROOT_USERNAME=urbanize
MONGO_INITDB_ROOT_PASSWORD=urbanize_secret
MONGODB_URI=mongodb://urbanize:urbanize_secret@localhost:27017/?authSource=admin

# Banco e coleção dos dados brutos
MONGODB_DB=urbanize_etl
MONGODB_RAW_COLLECTION=radar_recife_raw
